@font-face {
    font-family: myFont;
    src: url(fonts/Morton.otf);
}
body{
    background: rgb(180, 125, 145);
    height: 1700px;
}

#homebutton{
    height: 75px;
    width: 75px;
    position: absolute;
    left: 1.786%;
    top: 40px;
}
#homebutton:hover{
    box-shadow: 5px 5px 3px black;
    border-radius: 100%;
}
#title{
    font-family: 'myFont';
    position: absolute;
    left: 7.44%;
    top: 24px;
    font-size: 36px;
    color: white;
}
#book{
    height: 501.76px;
    width: 323.645px;
    position: absolute;
    left: 9.426%;
    top: 135px;
    box-shadow: 5px 5px 3px black;
}

#star1{
    height: 96.8px;
    width: 108px;
    position: absolute;
    top: 100px;
    left: 86.310%;
}
#star2{
    height: 96.8px;
    width: 108px;
    position: absolute;
    top: 225px;
    left: 86.310%;
}
#star3{
    height: 96.8px;
    width: 108px;
    position: absolute;
    top: 350px;
    left: 86.310%;
}
#star4{
    height: 96.8px;
    width: 108px;
    position: absolute;
    top: 475px;
    left: 86.310%;
}


#review{
    width: 800px;
    font-size: 17px;
    position: absolute;
    top: 135px;
    left: 33.333%;
}

#statstitle{
    position: absolute;
    font-family: 'myFont';
    left: 33.333%;
    top: 250px; 
    color: white;
}

#stat1{
    position: absolute;
    left: 33.333%;
    top: 330px;
}
#stat2{
    position: absolute;
    left: 33.333%;
    top: 360px;
}
#stat3{
    position: absolute;
    left: 33.333%;
    top: 390px;
}
#stat4{
    position: absolute;
    left: 33.333%;
    top: 420px;
}
#stat5{
    position: absolute;
    left: 33.333%;
    top: 450px;
}
#stat6{
    position: absolute;
    left: 33.333%;
    top: 480px;
}



#spoilers{
    width: 99.5%;
    text-align: center;
    font-family: 'myFont';
    position: absolute;
    top: 650px;
    color: white;
    text-decoration: underline;
    font-size: 30px;
}
#grexpl{
    width: 99.5%;
    text-align: center;
    font-family: 'myFont';
    position: absolute;
    top: 760px;
    font-size: 18px;
}
.percentage{
    font-size: 18px;
}

/*graph*/
#graphtitle{
    position: absolute;
    top: 870px;
    left: 29.76%;
    font-family: 'myFont';
}
#horizontalgraph{
    background: black;
    position: absolute;
    left: 20.95%;
    top: 1502px;
    width: 1050px;
    height: 6px;
}
#horvalue1{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 26.964%;
}
#hornum1{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 26.19%;
}
#horvalue2{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 32.917%;
}
#hornum2{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 32.321%;
}
#horvalue3{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 38.869%;
}
#hornum3{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 38.274%;
}
#horvalue4{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 44.821%;
}
#hornum4{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 44.226%;
}
#horvalue5{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 50.774%;
}
#hornum5{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 50.179%;
}
#horvalue6{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 56.726%;
}
#hornum6{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 56.131%;
}
#horvalue7{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 62.679%;
}
#hornum7{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 62.083%;
}
#horvalue8{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 68.631%;
}
#hornum8{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 68.036%;
}
#horvalue9{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 74.583%;
}
#hornum9{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 73.988%;
}
#horvalue10{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 80.536%;
}
#hornum10{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 79.762%;
}


#verticalgraph{
    background: black;
    position: absolute;
    left: 20.952%;
    top: 977px;
    width: 6px;
    height: 525px;
}
#vertvalue1{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1453px;
    left: 20.595%;
}
#vertnum1{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1422px;
    left: 19.643%;
}
#vertvalue2{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1403px;
    left: 20.595%;
}
#vertnum2{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1372px;
    left: 19.643%;
}
#vertvalue3{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1353px;
    left: 20.595%;
}
#vertnum3{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1322px;
    left: 19.643%;
}
#vertvalue4{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1303px;
    left: 20.595%;
}
#vertnum4{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1272px;
    left: 19.643%;
}
#vertvalue5{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1253px;
    left: 20.595%;
}
#vertnum5{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1222px;
    left: 19.643%;
}
#vertvalue6{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1203px;
    left: 20.595%;
}
#vertnum6{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1172px;
    left: 19.643%;
}
#vertvalue7{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1153px;
    left: 20.595%;
}
#vertnum7{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1122px;
    left: 19.643%;
}
#vertvalue8{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1103px;
    left: 20.595%;
}
#vertnum8{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1072px;
    left: 19.643%;
}
#vertvalue9{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1053px;
    left: 20.595%;
}
#vertnum9{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1022px;
    left: 19.643%;
}
#vertvalue10{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1003px;
    left: 20.595%;
}
#vertnum10{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 972px;
    left: 19.048%;
}

    
#horlabel{
    font-family: 'myFont';
    position: absolute;
    top: 1530px;
    left: 48.036%;
}
#vertlabel{
    font-family: 'myFont';
     /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-orientation */
   writing-mode: vertical-rl;
   position: absolute;
   top: 1090px;
   left: 15.595%;
   height: 350px;
}

.graph.ts1{
    opacity: 0.15;
}
.graph.ts2{
    opacity: 0.15;
}
.graph.ts3{
    opacity: 0.15;
}
.graph.ts4{
    opacity: 0.15;
}
.graph.ts5{
    opacity: 0.15;
}
.graph.ts6{
    opacity: 0.15;
}
.graph.ts7{
    opacity: 0.15;
}
.graph.ts8{
    opacity: 0.15;
}
.graph.ts9{
    opacity: 0.15;
}
.graph.ts10{
    opacity: 0.15;
}
.graph.ts11{
    opacity: 0.15;
}
.graph.ts12{
    opacity: 0.15;
}
.graph.ts13{
    opacity: 0.15;
}
#ts1{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 1370.5px;
    left: 22.917%;
}
#ts1:hover{
    opacity: 1;
}
#purple1{
    position: absolute;
    top: 1352px;
    left: 24.405%;
    color: white;
    opacity: 0;
}
#ts2{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 1245.5px;
    left: 25.298%;
    z-index: 10;
}
#ts2:hover{
    opacity: 1;
}
#purple2{
    position: absolute;
    top: 1227px;
    left: 26.786%;
    color: white;
    opacity: 0;
}
#ts3{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 1145.5px;
    left: 29.464%;
}
#ts3:hover{
    opacity: 1;
}
#purple3{
    position: absolute;
    top: 1126px;
    left: 30.952%;
    color: white;
    opacity: 0;
}
#ts4{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 1295.5px;
    left: 34.226%;
}
#ts4:hover{
    opacity: 1;
}
#purple4{
    position: absolute;
    top: 1276.5px;
    left: 35.714%;
    color: white;
    opacity: 0;
}
#ts5{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 1183px;
    left: 36.607%;
}
#ts5:hover{
    opacity: 1;
}
#purple5{
    position: absolute;
    top: 1164px;
    left: 38.095%;
    color: white;
    opacity: 0;
}
#ts6{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 1145.5px;
    left: 40.774%;
}
#ts6:hover{
    opacity: 1;
}
#purple6{
    position: absolute;
    top: 1126px;
    left: 42.262%;
    color: white;
    opacity: 0;
}
#ts7{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 1095.5px;
    left: 47.917%;
}
#ts7:hover{
    opacity: 1;
}
#purple7{
    position: absolute;
    top: 1077px;
    left: 49.405%;
    color: white;
    opacity: 0;
}
#ts8{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 1045.5px;
    left: 56.25%;
}
#ts8:hover{
    opacity: 1;
}
#purple8{
    position: absolute;
    top: 1027px;
    left: 57.738%;
    color: white;
    opacity: 0;
}
#ts9{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 995.5px;
    left: 63.393%;
}
#ts9:hover{
    opacity: 1;
}
#purple9{
    position: absolute;
    top: 976.5px;
    left: 64.881%;
    color: white;
    opacity: 0;
}
#ts10{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 995.5px;
    left: 68.155%;
}
#ts10:hover{
    opacity: 1;
}
#purple10{
    position: absolute;
    top: 976px;
    left: 69.643%;
    color: white;
    opacity: 0;
}
#ts11{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 1195.5px;
    left: 69.94%;
}
#ts11:hover{
    opacity: 1;
}
#purple11{
    position: absolute;
    top: 1177px;
    left: 71.429%;
    color: white;
    opacity: 0;
}
#ts12{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 1045.5px;
    left: 74.107%;
}
#ts12:hover{
    opacity: 1;
}
#purple12{
    position: absolute;
    top: 1026px;
    left: 75.595%;
    color: white;
    opacity: 0;
}
#ts13{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 995.5px;
    left: 78.274%;
}
#ts13:hover{
    opacity: 1;
}
#purple13{
    position: absolute;
    top: 976.5px;
    left: 79.762%;
    color: white;
    opacity: 0;
}
